@model BoVoyage4.Models.Client

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/BackOffice/Views/Shared/_LayoutBO.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Civilite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Civilite.Libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Historique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Historique)
        </dd>
    </dl>
</div>

<p>
    <a href="@Url.Action("Edit", new { id=Model.ID})" class="btn btn-primary">Modifier</a>
</p>
<p>
    <a href="@Url.Action("Index")" class="btn btn-outline-info btn-sm">Revenir à la liste des clients</a>
</p>