@model BoVoyage4.Models.Voyage

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer un voyage</h2>


<div>    
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.AgenceVoyage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgenceVoyage.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destination.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRetour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRetour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlacesDisponibles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlacesDisponibles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TarifToutCompris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TarifToutCompris)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-primary" />           
        </div>
    }
</div>
<br />
<div>
    <a href="@Url.Action("Index")" class="btn btn-outline-info btn-sm">Revenir à la liste des voyages</a>
</div>
<br />