@model IEnumerable<BoVoyage4.Models.Voyage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Filtrer
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Rechercher un voyage</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="get" action="@Url.Action("Search", "Voyages")">
                    <label for="search">Filtrer</label>

                    
                    
                </form>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-primary">Rechercher</button>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AgenceVoyage.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRetour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlacesDisponibles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TarifToutCompris)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr><td>
                @Html.DisplayFor(modelItem => item.AgenceVoyage.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRetour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacesDisponibles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TarifToutCompris)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
