
@{
    Layout = null;
    var user = Session["COMMERCIAL_BO"] as BoVoyage4.Areas.BackOffice.Models.Commercial;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Backoffice</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @*<link href="~/Content/roomy.css" rel="stylesheet" />*@
</head>
<body>

    <div class="container">


        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index","Home", new { area = "" })">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index","Dashboard")">BackOffice<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Voyages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index","Voyages", new { area = "BackOffice" })">Voir les voyages</a>
                            <a class="dropdown-item" href="@Url.Action("Create","Voyages", new { area = "BackOffice" })">Ajouter</a>
                            <div class="dropdown-divider"></div>                           
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Clients
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index","Clients", new { area = "BackOffice" })">Liste des clients</a>
                            <a class="dropdown-item" href="@Url.Action("Edit","Clients", new { area = "BackOffice" })">Modifier un client</a>
                            <a class="dropdown-item" href="@Url.Action("Details","Clients", new { area = "BackOffice" })">Détail d'un client</a>
                            <a class="dropdown-item" href="@Url.Action("Delete","Clients", new { area = "BackOffice" })">Supprimer un client</a>
                            <div class="dropdown-divider"></div>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Commerciaux
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index","Commerciaux")">Voir les commerciaux</a>
                            <a class="dropdown-item" href="@Url.Action("Create","Commerciaux")">Ajouter</a>
                            <div class="dropdown-divider"></div>

                        </div>
                    </li>
                    <li>
                        <span class="navbar-text">
                            <a href="#" class="col-2 text-white">Déconnexion</a>
                        </span>
                    </li>
                </ul>
                <span class="navbar-text">
                    Bonjour @*@commercial.Prenom @commercial.Nom*@<a href="@Url.Action("Logout","Authentication")" class="btn btn-danger"><i class="fa fa-power-off"></i></a>
                </span>
            </div>
        </nav>
       @RenderBody()
        <footer class="bg-light">
            &copy; Projet de l'année !
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
  
</body>
</html>