
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Bovoyage </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/carousel.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-info image-fond">

            <a class="navbar-brand" href="@Url.Action("Index","Home")" /><strong>ACCUEIL</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action(" Index","Offres",new {area="" })">VOYAGES<span class="sr-only">(current)</span></a>
                    </li>                 
                </ul>
                <ul>
                    <li class="nav-item active" style="margin-bottom: 5px">
                        <a class="btn btn-primary" style="color: navajowhite" href="@Url.Action("Create","CompteClients", new { area = "" })">Créer un compte client<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active" style="margin-bottom: 5px">
                        <a class="btn btn-dark" style="color: navajowhite" href="@Url.Action("Login","AuthentificationClients", new { area = "" })">Se connecter / Particulier<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active" style="margin-bottom: 5px">
                        <a class="btn btn-dark " style="color:navajowhite" href="@Url.Action("Login","AuthentificationCommerciaux", new { area = "BackOffice" })">Se connecter / Professionnel<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <span class="navbar-text">
                </span>
            </div>
        </nav>
        @Html.Partial("_DisplayMessage")

        @RenderBody()
        <footer class="bg-light image-footer">          
            <div class="links-wrap">
                <span class="title-footer toggle-brand-link" data-toggle-link="footerBrandList_1" style="color:black"><strong>A propos de BOVOYAGE</strong></span>
                <ul id="footerBrandList_1" class="reset-list">
                    <li class="item-link"><a href="@Url.RouteUrl("AboutRoute")">Qui sommes-nous ?</a></li>
                    <li class="item-link"><a href="https://www.voyageursdumonde.fr/voyage-sur-mesure/Img/quisommesnous/presse/pdf/voyages/20140328_figaro_magazine_pantanal.pdf" class="title-link">Presse</a></li>
                    <li class="item-link"><a href="/groupe/conseils-voyageurs" class="title-link">Conseils aux voyageurs</a></li>
                </ul>
            </div>



        </footer>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script src="~/Scripts/holder.min.js"></script>
    @RenderSection("SectionScripts", false)
</body>
</html>
