@model BoVoyage4.Models.Participant

@{
    ViewBag.Title = "Informations détaillées";
    Layout = "~/Areas/BackOffice/Views/Shared/_LayoutBO.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Participant</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Civilite.Libelle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Civilite.Libelle)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Reduction)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Reduction)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Nom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Prenom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Prenom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Adresse)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Adresse)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telephone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telephone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateNaissance)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateNaissance)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Revenir à la liste des participants", "Index")
    </p>
</body>
</html>
