@model IEnumerable<BoVoyage4.Models.Participant>

@{
    ViewBag.Title = "Liste des Participants";
    Layout = "~/Areas/BackOffice/Views/Shared/_LayoutBO.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Participants</title>
</head>
<body>
    <h2>Liste des participants</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Civilite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateNaissance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reduction)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Civilite.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateNaissance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reduction)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id=item.ID})"><i class="fa fa-edit"></i></a>
                <a href="@Url.Action("Details", new { id=item.ID})"><i class="fa fa-eye"></i></a>
                <a href="@Url.Action("Delete", new { id =item.ID })"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
